{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}
	<style>
		p {
			padding: 20px;
			margin: auto;
		}
        .d{
            display:flex;
        }
        .k{
            display:grid;
        }
        img, svg {
            vertical-align: middle;
            width: 200px;
        }
        h1{
            margin-top:40px;
        }
	</style>
	<h1>Please check Your email</h2>
	<div class="d">
		<img src="{{asset('assets/image/mail.gif')}}"/>
		<div class ="k">
        <p>
			If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
					        This link will expire in
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		<br>If you don't receive an email please check your spam folder or
        <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
        </div>
	</div>
{% endblock %}
