{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<style>
form {
    width: 90%;
    max-width: 600px;
    min-width: 300px;
    margin: auto;
    position: absolute;
    /* top: -21%; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1px 1px 9px -3px gray;
    padding: 53px 25px;
}

.b1 {
    margin-top: 15px;
    width: 100%;
}
</style>






    {{ form_start(requestForm) }}
        <h1>Reset your password</h1>
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Enter your email address, and we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-primary b1">Send password reset email</button>
    {{ form_end(requestForm) }}
{% endblock %}
