{% extends 'base.html.twig' %}

{% block title %}New Categories{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

    {{ include('categorie_auto/_form.html.twig') }}

    <a href="{{ path('app_categorie_auto_index') }}" class="btn btn-info">back to list</a>
{% endblock %}
